/* the body */

body {
    background-image: url('../images/webpage-bg-img.webp');
    background-attachment: fixed;
    background-size: cover;

}


.page-container {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    background-color: rgba(0, 0, 0, .75);
    width: 80vw;
    height: 100%;
    border-radius: 10px;
}

#brand-name {
    font-style: normal;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 0;


}

#brand-name h1 {
    font-family: "Pacifico", cursive;
    font-weight: 200;
    margin-top: 5vh;
    font-size: 400%;
    
    color: rgb(244, 238, 238);
}

#brand-name p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    font-size: 100%;
    color: rgb(244, 238, 238);

}

/* ------------------- */

.carousel-item {
    padding-top: 1%;
    padding-bottom: 1%;
}

.carousel-item img {
    position: absolute;

    top: 0;
    left: 0;
}

.my-slide {

    height: 200px;
    
    padding: 1%;
    background-image: linear-gradient(to right, rgb(87, 13, 9), rgb(247, 35, 20));
    /* rgb(93, 117, 135), rgb(234, 236, 237) */
}

.my-slide h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    padding: 5px;
}


/* ------------------- */

.navbar-brand {
    padding-left: 5px;
}

.welcome {
    margin-top: 0;
    height: 32px;
    color: aliceblue;

}

.welcome-msg {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-us {
    margin: 1%;
    height: 32px;
    background-image: linear-gradient(to right, rgb(5, 6, 6), rgb(190, 192, 191));
}

.list-group-item {
    background-color: rgba(239, 190, 219, 0.7);
}

.img-fluid {
    margin-top: 1%;
}

.about-us h3 {
    padding-left: 1%;
    color: aliceblue;
}


#home-page-quote {
    display: block;
    font-size: small;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}



.footer-flex {
    color: aliceblue;
    
    font-style: italic;
    justify-content: center;
    display: flex;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2vh;

}

.footer-flex>div>p {
    text-align: center;
}

.login {
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 1000px) {
    div.hide {
        display: none;
    }
}

.checkout-img-size {
    width: 100px;
    height: 80px;
}


#contact-us a {

    height: 55px;
    width: 55px;
    background-image: url('../images/contact-us-sprite.webp');
    display: inline-block;
    margin: 5px;
}



#fb {
    background-position: -47px -218px;
}

#yt {
    background-position: -350px -218px;
}

#tw {
    background-position: -410px -218px;

}

#lin {
    background-position: -167px -218px;
}

#pin {
    background-position: -230px -218px;
}

#foot-note li:first-of-type{
    list-style: none;
    font-size: small;
    color: brown;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}


#foot-note li{
    list-style: none;
    font-size: x-small;
    color: rgb(245, 237, 226);
    text-align: center;
    
    
    
}


